<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVT_Dalinger - Coderhouse - Python</title>
</head>
<body>
    <h3>Las personas agregadas a la Base de Datos son:</h3>

    <!-- <ul>
        {% for nombre in lista_nombres %}
            <li>
                <h4> {{ nombre }} </h4>
            </li>
        {% endfor %}
    </ul> -->

    <ul>
        {% for familiar in familiares %}
            <li>
                <h4> {{ familiar.nombre }} </h4>
                <h4> {{ familiar.edad }} </h4>
                <h4> {{ familiar.fecha_alta }} </h4>
            </li>
        {% endfor %}
    </ul>


</body>
</html>