{% extends "MVT_DALINGER_App/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}

    <h1 class="mb-5">ESTE TITULO VIENE a ingresar valores para buscar:</h1>
    
{% endblock %}

{% block contenido_que_cambia %}

    <h1>BUSCAMOS EDAD POR NOMBRE:</h1>

    <form action="{% url 'buscar' %}" method="GET"> {% csrf_token %}

        <p>Nombre: <input type="text" name="nombre", id="nombre"> </p>

        <input type="submit", value="Buscar">

    </form>

    <h2 style="color: red;"> {{ mensaje }} </h2>

{% endblock %}