{% extends "MVT_DALINGER_App/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}

    <h1 class="mb-5">ESTE TITULO VIENE a mostrar la edad buscada:</h1>
    
{% endblock %}

{% block contenido_que_cambia %}

    <h1>RESULTADO DE BUSCAR EDAD POR EL NOMBRE "{{nombre_buscado}}":</h1>

    {% if mensaje %}
        <h2>{{ mensaje }}</h2>

    {% else %}
        <h1>Resultado de busqueda:</h1>

        {% for persona in personas %}
            <h2>{{ persona.nombre }}</h2>
            <h2>{{ persona.edad }}</h2>
            --
        {% endfor %}

    {% endif %}

{% endblock %}